.pkpl__navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: none;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 28rem;
  border-right: 0.1rem solid #ECECEC;
}

.pkpl__header-title {
  font-weight: 600;
  padding: 0 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.pkpl__navigation-title {
  font-weight: 400;
  margin-bottom: 2rem;
  padding: 2rem 3rem;
  font-size: 1.6rem;
}

.pkpl__navigation-section {
  margin-bottom: 6rem;
}

.pkpl__navigation-section-title {
  display: block;
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 0 3rem;
  color: #303637;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.pkpl__navigation-group-title {
  display: block;
  width: 100%;
  padding: 0.6rem 3rem;
  border-top: 1px solid #ECECEC;
  color: #303637;
  font-size: 1.4rem;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}

.pkpl__navigation-group-title.is-active {
  border-bottom: 0.1rem solid #ECECEC;
}

.pkpl__navigation-group-title:focus {
  outline: 0;
}

.pkpl__navigation-group-title:after {
  display: inline-block;
  content: '-';
  float: right;
}

.pkpl__navigation-component-title {
  padding: 0.6rem 4.5rem;
  border-top: none;
  border-bottom: 0.1rem solid #ECECEC;
  color: #636363;
  background-color: #f8f8f8;
}

.pkpl__navigation-component-title:after {
  display: none;
}

.pkpl__navigation-group-list {
  display: none;
}

.pkpl__navigation-group-list.is-active {
  display: block;
}

.pkpl__navigation-group-list li:last-of-type a {
  border-bottom: none;
}

.pkpl__component-group:last-of-type .pkpl__navigation-group-title {
  border-bottom: 1px solid #ECECEC;
}

.pkpl__logo {
  width: 100%;
  padding: 0 3rem;
}
