$pkpl-primary: #ECECEC;
$pkpl-transparent: transparent;
// stylelint-disable-next-line color-hex-length
$pkpl-white: #FFFFFF;
// stylelint-disable-next-line color-hex-length
$pkpl-black: #000000;
$pkpl-gray: #636363;
$pkpl-background: #f8f8f8;
