@import 'pkpl/_content.css';
@import 'pkpl/_navigation.css';
@import 'pkpl/_code-block.css';
@import 'pkpl/_color-type.css';
@import 'pkpl/_full-width.css';

@media only screen and (min-width: 860px) {
  .pkpl__navigation {
    display: block;
  }
  .pkpl__content {
    padding: 5rem 3rem 0 31rem;
  }
  .pkpl__component--half {
    display: inline-block;
    width: 50%;
  }

  .pkpl__component--full {
    display: block;
    width: 100%;
  }
}
